In [1]:
pwd()

'C:\\Users\\sande\\Desktop\\Data_Sc'

# MAKES TWENTY: Given two integers, return True if the sum of the integers is 20 or if one of the integers is 20. If not, return False

makes_twenty(20,10) --> True

makes_twenty(12,8) --> True

makes_twenty(2,3) --> False

In [4]:
def makes_twenty(a,b):
    if a+b==20 or a==20 or b==20:
        return True
    else:
        return False

In [6]:
makes_twenty(20,5)

True

In [7]:
makes_twenty(15,5)

True

In [8]:
makes_twenty(10,5)

False

# LEVEL 1 PROBLEMS

OLD MACDONALD: Write a function that capitalizes the first and fourth letters of a name

old_macdonald('macdonald') --> MacDonald

Note: 'macdonald'.capitalize() returns 'Macdonald'

In [12]:
# 1st Method, need to clarify from Sudhanshu
def MCD(string):
    out=''
    for i in range(len(string)):
        if i ==0 or i==4:
            out+= string[i].upper()
        else:
            out+= string[i].lower()
    return out

In [14]:
MCD('Sandeep')

'SandEep'

In [16]:
MCD('san')

'San'

In [17]:
## 2nd Method
def old_macdonald(name):
    if len(name) > 3:
        return name[:3].capitalize() + name[3:].capitalize()
    else:
        return 'Name is too short!'

In [18]:
old_macdonald('San')

'Name is too short!'

In [19]:
old_macdonald('Sweety')

'SweEty'

# MASTER YODA: Given a sentence, return a sentence with the words reversed

master_yoda('I am home') --> 'home am I'


master_yoda('We are ready') --> 'ready are We'

In [68]:
#Method 1
def MY(st1):
    st2 = st1.split()
    d = len(st2)
    st3=''
    for i in range(d):
        d-=1
        st3 += st2[d]
        st3+=' '
    return(st3)

In [70]:
MY('I am at home')

'home at am I '

In [71]:
MY('We are ready')

'ready are We '

In [73]:
#Method 2
def master_yoda(text):
    return ' '.join(text.split()[::-1])

In [74]:
master_yoda('I am at home')

'home at am I'

In [75]:
master_yoda('We are ready')

'ready are We'

# ALMOST THERE: Given an integer n, return True if n is within 10 of either 100 or 200

almost_there(90) --> True

almost_there(104) --> True

almost_there(150) --> False

almost_there(209) --> True

In [76]:
def almost_there(n):
    return ((abs(100 - n) <= 10) or (abs(200 - n) <= 10))

In [77]:
almost_there(250)

False

In [80]:
almost_there(201.1)

True

# LEVEL 2 PROBLEMS
FIND 33:
Given a list of ints, return True if the array contains a 3 next to a 3 somewhere.

has_33([1, 3, 3]) → True

has_33([1, 3, 1, 3]) → False

has_33([3, 1, 3]) → False

In [84]:
#Method 1

def has_33(nums):
    for i in range(0, len(nums)-1):
        if nums[i:i+2] == [3,3]:
            return True  
    return False

In [85]:
has_33([5,3,3,6,7])

True

In [86]:
has_33([1,3,1,3,7])

False

# PAPER DOLL: Given a string, return a string where for every character in the original there are three characters

paper_doll('Hello') --> 'HHHeeellllllooo'

paper_doll('Mississippi') --> 'MMMiiissssssiiippppppiii'

In [87]:
def PD(string):
    out=''
    for i in range(len(string)):
        out+= string[i]*3
    return out

In [89]:
PD('Hello')

'HHHeeellllllooo'

In [90]:
PD('Mississippi')

'MMMiiissssssiiissssssiiippppppiii'

# BLACKJACK: Given three integers between 1 and 11, if their sum is less than or equal to 21, return their sum. If their sum exceeds 21 and there's an eleven, reduce the total sum by 10. Finally, if the sum (even after adjustment) exceeds 21, return 'BUST'

blackjack(5,6,7) --> 18

blackjack(9,9,9) --> 'BUST'

blackjack(9,9,11) --> 19

In [119]:
#Method 1
def BJ(a,b,c):
    s = a+b+c
    if s <= 21:
        return s
    elif s>21 :
        if s-10<21 and (a == 11 or b ==11 or c==11):
            return s-10
        else:
            return 'BUST'

In [120]:
BJ(2,3,5)

10

In [121]:
BJ(7,8,11)

16

In [122]:
BJ(9,9,9)

'BUST'

In [123]:
#Method 2:

In [125]:
def BJ2(a,b,c):
    
    if sum((a,b,c)) <= 21:
        return sum((a,b,c))
    elif sum((a,b,c)) <=31 and 11 in (a,b,c):
        return sum((a,b,c)) - 10
    else:
        return 'BUST'

In [126]:
BJ2(9,9,9)

'BUST'

In [127]:
BJ2(2,3,5)

10

# SUMMER OF '69: Return the sum of the numbers in the array, except ignore sections of numbers starting with a 6 and extending to the next 9 (every 6 will be followed by at least one 9). Return 0 for no numbers.

summer_69([1, 3, 5]) --> 9

summer_69([4, 5, 6, 7, 8, 9]) --> 9

summer_69([2, 1, 6, 9, 11]) --> 14

In [144]:
def has_69(*args):
    s1=0
    for i in args:
        if i!=6 or i!=7 or i!=8 or i!=9:
             s1+=i
    return s1

In [145]:
has_69([2,3,4,5])

TypeError: unsupported operand type(s) for +=: 'int' and 'list'

# SPY GAME: Write a function that takes in a list of integers and returns True if it contains 007 in order

 spy_game([1,2,4,0,0,7,5]) --> True

 spy_game([1,0,2,4,0,5,7]) --> True
 
 spy_game([1,7,2,0,4,5,0]) --> False

In [146]:
def SG(nums):

    code = [0,0,7,'x']
    
    for num in nums:
        if num == code[0]:
            code.pop(0)   # code.remove(num) also works
       
    return len(code) == 1

In [147]:
SG([1,2,4,0,0,7,5])

True

In [148]:
SG([1,0,2,4,0,5,7])

True

In [149]:
SG([1,7,2,0,4,5,0])

False

# COUNT PRIMES: Write a function that returns the number of prime numbers that exist up to and including a given number
count_primes(100) --> 25

By convention, 0 and 1 are not prime.

In [150]:
def count_primes(num):
    primes = [2]
    x = 3
    if num < 2:  # for the case of num = 0 or 1
        return 0
    while x <= num:
        for y in range(3,x,2):  # test all odd factors up to x-1
            if x%y == 0:
                x += 2
                break
        else:
            primes.append(x)
            x += 2
    print(primes)
    return len(primes)

In [151]:
count_primes(50)

[2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47]

15

In [153]:
count_primes(0)

0